<md-toolbar>
    <h2 class="md-toolbar-tools">
        <span>Toolbar: light-theme (default)</span>
    </h2>
</md-toolbar>


<div layout="row" layout-padding >
    <div flex="50" offset="25">
        <md-tabs md-selected="data.selectedIndex">
            <md-tab id="login" aria-controls="login-content">
                Iniciar sesión
            </md-tab>
            <md-tab id="signup" aria-controls="signup-content">
                Registrarte
            </md-tab>
        </md-tabs>
        {{test}}
        {{data.selectedIndex}}

        <button ng-click="test= 'marica'"></button>
        <ng-switch on="data.selectedIndex" class="tabpanel-container">
            <div role="loginpanel" id="login-content" ng-switch-when="0" md-swipe-left="next()"
                 md-swipe-right="previous()">

                <md-content md-theme="light-blue-dark">
                    <form style="padding: 20px;">
                        <div class="row">
                            <md-text-float label="Username" ng-model="user.username"></md-text-float>
                            <md-text-float label="Password" ng-model="user.password" type="email"></md-text-float>
                        </div>
                    </form>
                </md-content>

                View for Item #1<br/>
                data.selectedIndex = 0
            </div>
            <div role="signuppanel" id="signup-content" ng-switch-when="1" md-swipe-left="next()"
                 md-swipe-right="previous()">
                View for Item #3<br/>
                data.selectedIndex = 1
            </div>
        </ng-switch>


    </div>
</div>
